body {
    background-color: whitesmoke;
    font-family: 'Slackey', cursive;
    text-align: center;
    overflow: hidden;
}

.fa {
    font-size: 2em;
    color: #beb280;
}

.lr {
    margin-right: 20px;
    margin-left: 20px;
}

.fa-caret-left,
.fa-caret-right {
    padding: 0px 5px;
}

section {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    min-width: 500px;
}

.button {
    display: inline-block;
    font-size: 1.5em;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #fce17a;
    border: none;
    border-radius: 50%;
    padding: 10px 20px 10px 20px;
    box-shadow: 0 9px #999;
}

#title {
    color: #35af79;
    font-size: 6em;
}

#subtitle {
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
    font-size: 1.8em;
    color: gray;
    margin-top: -30px;
}

.col-sm-4 {
    width: 300px;
}

#info {
    display: none;
}

@media screen and (max-width: 320px) {
    #info {
        display: block;
        background-color: black;
        opacity: .8;
        width: 100%;
        height: 100%;
        text-align: center;
        color: whitesmoke;
        margin-left: auto;
        margin-right: auto;
        font-size: 3em;
        padding: 50px;
    }
}

table,
th,
td {
    text-align: center;
    width: 100%;
    table-layout: fixed;
}

td.arrows {
    width: 200px;
}

.pause {
    background-color: lightgrey;
    border-radius: 2px;
}

.cast {
    border-radius: 20px;
    background-color: #ff5ca1;
}

.A {
    background-color: #35af79;
    color: #468860;
    margin-bottom: 20px;
}

.B {
    background-color: #dd5b5b;
    color: #a24141;
    border-radius: 50%;
    padding: 10px 20px 10px 20px;
    margin-left: -70px;
}

.button:hover {
    opacity: .7;
}

.button:active {
    opacity: .7;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}