body {
    background-color: #452049;
    font-family: 'Slackey', cursive;
    text-align: center;
    overflow: hidden;
    color: #D7DEDC;
}

.fa {
    font-size: 2em;
    color: #beb280;
}

.lr {
    margin-right: 20px;
    margin-left: 20px;
}

.fa-caret-left,
.fa-caret-right {
    padding: 0px 5px;
}

section {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    min-width: 500px;
}

.button {
    display: inline-block;
    font-size: 1.5em;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    background-color: #fce17a;
    border: none;
    border-radius: 50%;
    padding: 10px 20px 10px 20px;
    box-shadow: 0 9px #2b0430;
}

#title {
    color: #35af79;
    font-size: 7em;
    font-weight: 900;
    letter-spacing: -2px;
    font-family: "Nunito";
    display: inline-block;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    padding: 25px;
    border: none;
    text-align: center;
    -o-text-overflow: clip;
    text-overflow: clip;
    text-shadow: 3px 3px 0 #316b49, 4px 4px 0 #316b49, 5px 5px 0 #316b49, 6px 6px 0 #316b49, 7px 7px 0 #316b49, 8px 8px 0 #316b49, 9px 9px 0 #316b49, 10px 10px 0 #316b49;
}

#subtitle {
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
    font-size: 1.8em;
    margin-top: -30px;
}

.col-sm-4 {
    width: 300px;
}

#info {
    display: none;
}

@media screen and (max-width: 450px) {
    #info {
        display: block;
        background-color: black;
        opacity: .8;
        width: 100%;
        height: 100%;
        text-align: center;
        color: whitesmoke;
        margin-left: auto;
        margin-right: auto;
        font-size: 3em;
        padding: 50px;
    }
}

table,
th,
td {
    text-align: center;
    width: 100%;
    table-layout: fixed;
}

td.arrows {
    width: 200px;
}

.pause {
    background-color: lightgrey;
    border-radius: 2px;
}

.cast {
    border-radius: 20px;
    background-color: #8A1C7C;
    margin-bottom: 10px;
}

.instructions_btn {
    border-radius: 20px;
    background-color: #8A1C7C;
    margin-bottom: 10px;
}

#instructions {
    background-color: #1f0322;
    width: 100%;
    height: 100%;
    text-align: center;
    color: whitesmoke;
    margin-left: auto;
    margin-right: auto;
    font-size: 3em;
    padding: 50px;
}

.instructions_box p {
    font-size: .5em;
    font-family: Nunito;
    font-weight: 700;
    padding: 10px;
}

.instructions_box h3 {
    font-size: .9em;
}

.text-box {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    height: 80%;
    overflow-x: hidden;
    overflow-y: scroll;
}

.close {
    color: #fce17a;
    text-align: left;
    font-size: 1em;
    z-index: 100;
    opacity: inherit;
    border: none;
    position: relative;
    padding: 0;
    border: none;
    background: none;
}

.instructions_box {
    background-color: purple;
    padding: 10px 40px 10px 40px;
    border-radius: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 65%;
    width: 70%;
}

::-webkit-scrollbar {
    width: 14px;
    height: 10px;
}

::-webkit-scrollbar-thumb {
    height: 6px;
    border: 4px solid rgba(0, 0, 0, 0);
    background-clip: padding-box;
    -webkit-border-radius: 7px;
    background-color: rgba(0, 0, 0, 0.15);
    -webkit-box-shadow: inset -1px -1px 0px rgba(0, 0, 0, 0.05), inset 1px 1px 0px rgba(0, 0, 0, 0.05);
}

::-webkit-scrollbar-button {
    width: 0;
    height: 0;
    display: none;
}

::-webkit-scrollbar-corner {
    background-color: transparent;
}

.A {
    background-color: #35af79;
    color: #468860;
    margin-bottom: 20px;
}

.B {
    background-color: #dd5b5b;
    color: #a24141;
    border-radius: 50%;
    padding: 10px 20px 10px 20px;
    margin-left: -70px;
}

.button:hover {
    opacity: .7;
}

.button:active {
    opacity: .7;
    box-shadow: 0 5px #630a6d transform: translateY(4px);
}